<h1 mat-dialog-title>Inversión Vender</h1>
<div mat-dialog-content>
  <form [formGroup]="formCliente"  (ngSubmit)="onSubmit()">
    <div class="form-group" style="text-align: center; margin-bottom: 20px;">
      <h1 class="instrument-label"><b>{{ data.data.instrumento }}</b></h1>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>NOCLIENTE </mat-label>
        <input matInput [value]="data.usuario" readonly />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Monto</mat-label>
        <input matInput [value]="data.dinero | currency" readonly />
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
 

    <div class="form-group">
      <h4>Unidades</h4>
      <div class="unit-controls w-full">

        <button mat-icon-button color="warn" (click)="decreaseIncrement()">
          <mat-icon>remove</mat-icon>
        </button>
        <mat-form-field appearance="fill" class="w-full">
          <input matInput formControlName="porcentaje" type="number" (change)="calculate()" />
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="increaseIncrement()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="form-group cotizacion-group">
      <span *ngIf="data.data.changeV === 'up'" class="badge text-secondary ml-1 text-md font-medium text-green-500" >Cotización Vigente: {{ data.data.vender }} USD</span>
      <span *ngIf="data.data.changeV === 'down'" class="badge text-secondary ml-1 text-md font-medium text-red-500" >Cotización Vigente: {{ data.data.vender }} USD</span>
      <span *ngIf="data.data.changeV === 'sin cambios'" class="badge text-secondary ml-1 text-md font-medium text-blue-500" >Cotización Vigente: {{ data.data.vender }} USD</span>
 
      <span class="badge text-danger">{{ textVariacion }}</span>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Margen requerido</mat-label>
        <input matInput formControlName="valorA" onlyRead/>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
 

    <div class="form-group" style="text-align: center; margin-top: 15px;">
      <button mat-raised-button color="primary" (click)="onSubmit()" class="custom-button">
        <mat-icon class="icon-dollar">attach_money</mat-icon>
        <span class="button-text" style="margin-bottom: 5px;">Vender</span>
      </button>
    </div>

    <div *ngIf="showAlert" class="alert alert-danger">
      Monto superado!!!!
      <button mat-icon-button (click)="showAlert = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div>