<div class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl  overflow-hidden">
    <div class="container p-6">
        <div class="flex space-x-4 mb-6">
            <div class="flex-1 flex">
                <div
                    class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden h-full">
                    <div class="absolute bottom-0 right-0 w-27 h-27 -m-6">
                        <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-tight leading-6 truncate">BALANCE</div>
                            <div class="text-green-600 font-medium text-sm">
                                USD
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap mt-4 -mx-6">
                        <div class="flex flex-col mx-6 my-3">
                            <div class="mt-2 font-medium text-5xl leading-none">{{ margenesUsuario.totalDinero |
                                currency:'USD'}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 flex">
                <div
                    class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden h-full">
                    <div class="absolute bottom-0 right-0 w-27 h-27 -m-6">
                        <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-tight leading-6 truncate">MARGEN LIBRE
                            </div>
                            <div class="text-green-600 font-medium text-sm">
                                USD
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap mt-4 -mx-6">
                        <div class="flex flex-col mx-6 my-3">
                            <div class="mt-2 font-medium text-5xl leading-none">{{ margenesUsuario.margenLibre |
                                currency:'USD'}}</div>
                            <div class="text-sm font-medium leading-none text-secondary mt-2">Margen libre
                                antes de credito:$168.72
                            </div>
                            <div class="text-sm font-medium leading-none text-secondary">Credito
                                displonible:$10.00</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 flex">
                <div
                    class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden h-full">
                    <div class="absolute bottom-0 right-0 w-27 h-27 -m-6">
                        <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="flex flex-col">
                            <div class="text-xl font-medium tracking-tight leading-6 truncate">MARGEN</div>
                            <div class="text-green-600 font-medium text-sm">
                                USD
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap mt-4 -mx-6">
                        <div class="flex flex-col mx-6 my-3">
                            <!-- <div class="text-sm font-medium leading-none text-secondary">Card Limit</div> -->
                            <div class="mt-2 font-medium text-5xl leading-none">{{ margenesUsuario.margen | currency:'USD'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>