<h1 mat-dialog-title>Retirar</h1>
<div mat-dialog-content>

  <div class="form-group">
    <label for="nocliente">NOCLIENTE: <b>{{ data.idUser }}</b></label>
  </div>

  <div class="form-group">
    <label for="Monto">Monto: <b>{{ data.margenLibre }}</b></label>
  </div>

  <hr>

  <div class="form-group">     
    <!-- Campo de monto -->
    <form
    class="p-6"
    [formGroup]="retirarForm">
    <mat-form-field class="w-full">
      <mat-label>Monto a retirar</mat-label>
      <input
        id="monto"
        matInput
        [formControlName]="'monto'"
        placeholder="Ingresa el monto a retirar"
      >
      <mat-error *ngIf="retirarForm.get('monto')?.hasError('required')">
        El monto es obligatorio
      </mat-error>
      <mat-error *ngIf="retirarForm.get('monto')?.hasError('min')">
        El monto debe ser mayor a 0
      </mat-error>
    </mat-form-field>

    <div class="flex justify-center mt-5">
      <button mat-fab extended (click)="onSubmit()">
        <mat-icon>monetization_on</mat-icon>
        Solicitar Dinero
      </button>
    </div>
  </form>
  </div>

  <hr>

</div>
