<h1 mat-dialog-title>Inversión</h1>
<div mat-dialog-content>
  <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="dsimbolo"><h1><b>{{ data.data.instrumento      }}</b></h1></label>
    </div>
    <div class="form-group">
      <label for="nocliente">NOCLIENTE: <b>{{ data.usuario }}</b></label>
    </div>
    <div class="form-group">
      <label for="monto">Monto: <span><b>{{ data.data.comprar | currency }}</b></span></label>
    </div>
    <hr>

    <div class="form-group">
      <mat-radio-group formControlName="tipom">
        <mat-radio-button value="venta">Venta</mat-radio-button>
      </mat-radio-group>
    </div>
    <hr>

    <div class="form-group">
      <h4>Unidades</h4>
      <button mat-icon-button color="warn" (click)="decreaseIncrement()">
        <mat-icon>remove</mat-icon>
      </button>
      <input matInput formControlName="porcentaje" type="number" (change)="calculate()" />
      <button mat-icon-button color="primary" (click)="increaseIncrement()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <hr>

    <div class="form-group">
      <span class="badge border-secondary border-1 text-secondary">Cotización Vigente</span>
      <span>{{ textCosto }} USD</span>
      <span class="badge border-danger border-1 text-danger">{{ textVariacion }}</span>
    </div>

    <div class="form-group">
      <label for="valorA">Margen requerido</label>
      <input matInput formControlName="valorA" type="number" />
    </div>
    <hr>

    <div class="form-group">
      <mat-slide-toggle formControlName="cierreGanancia">Cierre en Ganancias</mat-slide-toggle>
      <div *ngIf="formCliente.get('cierreGanancia').value">
        <button mat-icon-button color="warn" (click)="decreaseProfit()">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput formControlName="porceganancia" type="number" />
        <button mat-icon-button color="primary" (click)="increaseProfit()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div class="form-group">
      <mat-slide-toggle formControlName="cierrePerdida">Cierre en Pérdida</mat-slide-toggle>
      <div *ngIf="formCliente.get('cierrePerdida').value">
        <button mat-icon-button color="warn" (click)="decreaseLoss()">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput formControlName="porceperdida" type="number" />
        <button mat-icon-button color="primary" (click)="increaseLoss()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <hr>

    <div class="form-group">
      <button mat-raised-button color="warn" type="submit">Vender</button>
    </div>
    <div *ngIf="showAlert" class="alert alert-danger">
      Monto superado!!!!
      <button mat-icon-button (click)="showAlert = false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
 
</div>
