<div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full">
    <!-- Asegúrate de que el grid ocupe toda la altura -->
    <div class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
        <div class="container p-6">

            <h1 mat-dialog-title class="text-3xl text-center font-bold mb-6">CRIPTOMONEDAS</h1>

            <div class="text-2xl font-medium tracking-tight leading-6 mb-4">Activos</div>

            <div class="overflow-auto mat-elevation-z8">
                <table mat-table [dataSource]="datasource" class="w-full mat-table"  >
     

                    <ng-container matColumnDef="instrumento">
                        <th mat-header-cell *matHeaderCellDef>Simbolo</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="balloon-text">
                                {{element.instrumento}}
                              </div>
                              </td>
                    </ng-container>

                    <ng-container matColumnDef="variacion">
                        <th mat-header-cell *matHeaderCellDef>Cambiar</th>
                        <td mat-cell *matCellDef="let element"> 

                            <div *ngIf="element.changeVa === 'up'" class="ml-1 text-md font-medium text-green-500">
                                {{element.variacion}}
                            </div>
                            <div *ngIf="element.changeVa === 'down'" class="ml-1 text-md font-medium text-red-500">
                                {{element.variacion}}
                            </div>
                            <div *ngIf="element.changeVa === 'sin cambios'" class="ml-1 text-md font-medium text-blue-500">
                                {{element.variacion}}
                            </div>
                        
                        
                         </td>
                    </ng-container>

                    <ng-container matColumnDef="vender">
                        <th mat-header-cell *matHeaderCellDef>Vender</th>
                        <td mat-cell *matCellDef="let element">

                            <div *ngIf="element.changeV === 'up'" class="ml-2 flex items-center highlight-hover-green" (click)="openDialogVender(element)">
                                <mat-icon class="text-green-500 icon-size-5" [svgIcon]="
                                            'heroicons_solid:arrow-up-circle'
                                        "></mat-icon>
                                <div class="ml-1 text-md font-medium text-green-500">
                                    {{element.vender}} 
                                </div>
                            </div>

                            <div *ngIf="element.changeV === 'down'" class="ml-2 flex items-center highlight-hover" (click)="openDialogVender(element)">
                                <mat-icon class="text-red-500 icon-size-5" [svgIcon]="
                                                    'heroicons_solid:arrow-down-circle'
                                                "></mat-icon>
                                <div class="ml-1 text-md font-medium text-red-500">
                                    {{element.vender}} 
                                </div>
                            </div>

                            <div *ngIf="element.changeV === 'sin cambios'" class="ml-2 flex items-center highlight-hover-blue" (click)="openDialogVender(element)">
                                <mat-icon class="text-blue-500 icon-size-5" [svgIcon]="
                                                    'heroicons_solid:minus-circle'
                                                "></mat-icon>
                                <div class="ml-1 text-md font-medium text-blue-500">
                                    {{element.vender}} 
                                </div>
                            </div>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="comprar">
                        <th mat-header-cell *matHeaderCellDef>Comprar</th>
                        <td mat-cell *matCellDef="let element">


                            <div *ngIf="element.changeC === 'up'" (click)="openDialog(element)"
                                class="ml-2 flex items-center highlight-hover-green">
                                <mat-icon class="text-green-500 icon-size-5" [svgIcon]="
                                                    'heroicons_solid:arrow-up-circle'
                                                "></mat-icon>
                                <div class="ml-1 text-md font-medium text-green-500">
                                    {{element.comprar}}  
                                </div>
                            </div>

                            <div *ngIf="element.changeC === 'down'" (click)="openDialog(element)"
                                class="ml-2 flex items-center highlight-hover">
                                <mat-icon class="text-red-500 icon-size-5" [svgIcon]="
                                                            'heroicons_solid:arrow-down-circle'
                                                        "></mat-icon>
                                <div class="ml-1 text-md font-medium text-red-500">
                                    {{element.comprar}}  
                                </div>
                            </div>

                            <div *ngIf="element.changeC === 'sin cambios'" (click)="openDialog(element)"
                                class="ml-2 flex items-center highlight-hover-blue">
                                <mat-icon class="text-blue-500 icon-size-5" [svgIcon]="
                                                            'heroicons_solid:minus-circle'
                                                        "></mat-icon>
                                <div class="ml-1 text-md font-medium text-blue-500">
                                    {{element.comprar}}  
                                </div>
                            </div>

                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
                </table>
            </div>

        </div>
    </div>
</div>