.highlight-hover:hover {
    border: 2px solid #FF0000; /* Cambia el color y el grosor del borde según tus necesidades */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Opcional: Agrega una sombra para mayor énfasis */
    border-radius: 5px; /* Opcional: Redondear las esquinas */
  }

  .highlight-hover-blue:hover {
    border: 2px solid blue; /* Cambia el color y el grosor del borde según tus necesidades */
    box-shadow: 0 0 10px rgba(18, 29, 236, 0.922); /* Opcional: Agrega una sombra para mayor énfasis */
    border-radius: 5px; /* Opcional: Redondear las esquinas */
  }

  .highlight-hover-green:hover {
    border: 2px solid green; /* Cambia el color y el grosor del borde según tus necesidades */
    box-shadow: 0 0 10px rgba(38, 236, 38, 0.923); /* Opcional: Agrega una sombra para mayor énfasis */
    border-radius: 5px; /* Opcional: Redondear las esquinas */
  }