<div class="flex flex-col h-screen overflow-auto w-full">
    <!-- Ajusta la altura del contenedor principal -->
    <div class="flex-auto p-6 sm:p-10 h-full overflow-auto">
        <!-- Ajusta la altura del contenedor principal de la tabla -->
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full">
            <!-- Asegúrate de que el grid ocupe toda la altura -->
            <div class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <div class="container p-6">
                    <div class="flex justify-between items-center mb-6">
                        <div class="text-2xl font-medium tracking-tight leading-6">Activos</div>
                        <button mat-raised-button color="primary" class="flex items-center" (click)="opencDialogNuevoCliente()">
                            <mat-icon class="mr-2">person_add</mat-icon> AGREGAR CLIENTE
                        </button>
                    </div>



                    <div class="overflow-auto mat-elevation-z8">
                        <table mat-table [dataSource]="datasource" class="w-full">
                            <ng-container matColumnDef="noCliente">
                                <th mat-header-cell *matHeaderCellDef>N° Cliente</th>
                                <td mat-cell *matCellDef="let element">{{element.idUsuario}}</td>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
                                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                            </ng-container>

                            <ng-container matColumnDef="correo">
                                <th mat-header-cell *matHeaderCellDef>Correo</th>
                                <td mat-cell *matCellDef="let element">{{element.correo}}</td>
                            </ng-container>

                            <ng-container matColumnDef="monto">
                                <th mat-header-cell *matHeaderCellDef>Balance USD</th>
                                <td mat-cell *matCellDef="let element">{{element.totalDinero}} </td>
                            </ng-container>

                            <ng-container matColumnDef="pass">
                                <th mat-header-cell *matHeaderCellDef>Pass</th>
                                <td mat-cell *matCellDef="let element">{{element.pass}}</td>
                            </ng-container>

                            <ng-container matColumnDef="edita">
                                <th mat-header-cell *matHeaderCellDef>Estatus</th>
                                <td mat-cell *matCellDef="let element"> {{ element.estatus === 1 ? 'Activo' : 'Inactivo' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="posiciones">
                                <th mat-header-cell *matHeaderCellDef>Posiciones</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="action-buttons ">
                                        <div class="example-button-container  ">
                                            <button mat-fab extended class="custom-fab-button" (click)="opencDialogAbiertas(element)">
                                                <mat-icon>attach_money</mat-icon>
                                                Abiertas
                                            </button>
                                        </div>
                                        <div class="example-button-container  ">
                                            <button mat-fab extended class="custom-fab-button-red" (click)="opencDialogCerradas(element)">
                                                <mat-icon>money_off</mat-icon>
                                                Cerradas
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="accion">
                                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="action-buttons ">
                                        <div class="example-button-container  ">
                                            <button mat-fab extended class="custom-fab-button" (click)="openDialog(element)">
                                                <mat-icon>attach_money</mat-icon>
                                                Ingresos
                                            </button>
                                        </div>
                                        <div class="example-button-container  ">
                                            <button mat-fab extended class="custom-fab-button-blue" (click)="opencDialogCredito(element)">
                                                <mat-icon>monetization_on</mat-icon>
                                                Creditos
                                            </button>
                                        </div>
                                        <div class="example-button-container  ">
                                            <button mat-fab extended class="custom-fab-button-red" (click)="opencDialogRetiro(element)">
                                                <mat-icon>money_off</mat-icon>
                                                Retiros
                                            </button>
                                        </div>
                                        <div class="example-button-container  ">
                                            <button mat-fab extended (click)="opencDialogCliente(element)">
                                                <mat-icon>contacts</mat-icon>
                                                Editar
                                            </button>
                                        </div>
                                        <div class="example-button-container  ">
                                            <button mat-fab extended class="custom-fab-button" (click)="openApalancamiento(element)">
                                              <mat-icon>attach_money</mat-icon>
                                              Apalancamiento
                                            </button>
                                          </div>
                                         
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>